.mainTable {
    width: calc(100vw - 300px);
    border-collapse: collapse;
    margin-left:10vw;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 10vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
    top: 8vh;
}
.list__container{
    display: flex;
    top: 0vh;
    align-items: center;
    position: fixed;
    width: 100%;
    flex-direction: column;
    max-height: 100px;
}
.mainTable th, .mainTable td {
    padding: 10px 20px;
    text-align: center;
}

.mainTable tbody tr {
    border-bottom: thin solid #dddddd;
    background-color: #f3f3f3;
}
@media screen and (max-device-width: 850px) {
    .mainTable {
        width: 50%;
    }
}

@media screen and (max-device-width: 560px) {
    .mainTable th, .mainTable td {
        padding: 3px 2px;
    }
}

@media screen and (max-device-width: 636px) {
    .mainTable {
        width: 80%;
    }

    .mainTable th {
        font-size: 0.7em;
        padding: 2px 2px;
    }

    .mainTable td {
        font-size: 0.9em;
        padding: 1px 5px;
    }
}

#add__button{
    width: 100px;
    align-self: center;
}
.readonly:hover{
    cursor:move;
}