#formID{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 50%;
    left: 55%;
    transform:translate(-50%,-50%);
    z-index: 999;
    background-color:aliceblue;
    width: 80vw;
    height: 40vw;
    opacity: 1;
    justify-items: center;
}
#formId:hover{
    cursor: cell;
}
.btn{
    width: 100px !important;
    margin: 10px !important;
}
.close__btn{
    z-index: 999;
}
input{
    height: 5vh;
}