nav.navbar{
    display: flex;
    gap: 10vw;
    margin: 0 5vw 0 5vw;
    border: 2px solid black;
    width: 90vw;
    height: 10vh;
    background-color: rosybrown;
}
.link{
    align-self: center;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-box:2px 10px 10px 2px;
}
nav.navbar :first-child{
    margin-left: 20vw;
}