.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.body{
  width: 100vw;
  height: 100vh;
  background:rgb(102,183,182);
  flex-direction: column;
  overflow-y: hidden;
}
